<h1>¿Esto qué es?</h1>
<p>Este es el resultado de un ejercicio del taller Girls Rails Cali.</p>
<p>Cuando empecé a las 8 am esto era una pantalla en blanco.</p> 
Con la ayuda de los tutores instalé las herramientas para crear cuentas de usuarios,
añadir fotos, comentarlas, borrarlas, modificar el usuario, instalamos los estilos, en fin.</p> 
Esto parece muy sencillo para quienes saben de programación, pero mi máxima
experiencia en programación era ponerle negrilla a un html en wordpress.</p> 
Quiero agradecerle a los organizadores y patrocinadores de Girls Rails Cali. 
Búsquenlos en redes y síganlos</p>